*
{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

h2 {
    text-align: center;
}

/* h1 {
    text-align: center;
} */

.box {
    /* margin: 40px; */
    background-color: rgb(250, 243, 233);
}

.logo {
    margin: 0;
    padding: 0;
    width: max-content;
}

#navbar {
    display: flex;
    height: 80px;
}

/* #logo {
    /* width: 20%; */
/* } */

#headline {
    margin-top: 30px;
    /* width: 80%; */
}
#about
{
    display: flex;
}
#description
{
    width: 210px;
    max-width: 800px;
    /* border: 2px solid gray; */
    height: max-content;
    /* margin: 30px; */
    margin-right: auto;
    margin-left: 3%;
    /* padding-right:3px ; */

}

#natureimg
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 400px;
    object-fit: cover;
}
#img
{
    border-radius: 20px;
    width: 100%;
    
}
#jobs
{
    /* text-align: center; */
    max-width: 800px;
    margin: 30px;
    width: auto;
}
.apply
{
    float: right;
    text-decoration: none;
}
h3
{
    margin-top: 0;
}
.link
{
    text-decoration: none;
    margin: 40px;
}
#submit
{
    margin: 20px;
}
.body1
{
    max-width: 800px;
    margin: 5% 10%;
}
.pad
{
    /* padding-top: 2px; */
    padding-bottom: 10px;
}
.table
{
    width: 100%;
    border: 1px solid gray;
    /* max-width: 800px; */
    border-collapse:collapse ;
    /* padding: 10px; */
}
.table tr:nth-child(odd)
{
    background-color: rgb(250, 243, 251);
}
.table-header th
{
    background-color:rgb(223, 255, 253);
    border: 2px solid gray;
    padding: 10px;
}
.table-data td
{
    border: 1px solid grey;
    /* padding: 10px; */
    padding: 10px;
}